<div class="container">
  <h1 class="text-center">Hi <%= current_user.first_name %>, here are your bookings:</h1>
  <ul class="list-group">
    <% @bookings.each do |booking| %>
      <% last_updated = booking.updated_at.strftime("%Y-%m-%d %H:%M:%S") %>
      <li class="list-group-item m-2 list-body-dark">
        <!-- <div class="card"> -->
        <div class="row">
          <div class="col-sm-5">
          <% if Car.find(booking.car_id).photos.empty?%>
            <%= image_tag "CarPlaceholder.jpg", class: "car-show-image shadow", alt: "Car Placeholder Image"%>
          <% else %>
            <%= cl_image_tag Car.find(booking.car_id).photos[0].key, class: "card-img-top rounded-top", style: "height:175px;", alt: "alttext" %>
          <% end %>
          </div>
          <div class="col-sm-7">
            <div class="card-body">
              <h5>You booked <%= "#{Car.find(booking.car_id).make} - #{Car.find(booking.car_id).model}" %>:</h5>
              <p>Location: <%= booking.location %></p>
              <p>From: <%= booking.start_date %></p>
              <p>To: <%= booking.end_date %></p>
              <p><%= Car.find(booking.car_id).description %></p>
              <a href="/cars/<%=booking.car_id%>" class="btn btn-box">Car Details</a>
              <%= link_to "Cancel Booking",
                  "/cars/#{booking.car_id}/bookings/#{booking.id}",
                  method: :delete,
                  class: "btn btn-box",
                  data: { confirm: "Are you sure?" } %>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <br>
  <% if @bookings.empty? %>
    <h5>Seems like you haven't made any bookings yet.</h5>
    <br>
    <h5>Would you like to browse all available cars?</h5>
  <% end %>
  <br>
  <%= link_to 'Browse for a car', cars_path, class: 'btn btn-box' %>
</div>
