<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
    <h1>There are <%=@cars.count%> cars matching your filters:</h1>
    <h3 class="typed-js"></h3>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <% @cars.each do |car| %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-1 mt-5 text-center">
        <div class="our-card card m-auto border-0">
          <img class="card-img-top rounded-top" style="height:175px;" src="https://images.pexels.com/photos/3226806/pexels-photo-3226806.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=311&w=250" alt="Mini Cooper">
          <div class="d-flex justify-content-around">
            <p class="card-text">£<%= car.price %> per day</p>
            <p class="card-text"><%= car.seats %> <i class="fas fa-chair"></i></p>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= "#{car.make} - #{car.model}" %></h5>
            <p class="card-text"><%=car.description%></p>
            <p class="card-text"><small class="text-muted">Listing created on <%=car.created_at%></small></p>
            <a href="/cars/<%=car.id%>" class="btn btn-primary">View More Details</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
