<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
    <% if params[:query].present? %>
      <h1>There are <%=@cars.count%> cars matching your filters:</h1>
    <% else %>
      <h1>There are <%=@cars.count%> cars available now:</h1>
    <% end %>
    <h3 class="typed-js"></h3>
  </div>
</div>
<div class="container">
  <%= form_tag cars_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Search for a car by location, make or model"
    %>
    <br>
    <%= submit_tag "Search Again", class: "btn btn-primary" %>
  <% end %>
</div>
<div class="container-fluid">
  <div class="row">
    <% @cars.each do |car| %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-1 mt-5 text-center">
        <div class="our-card card m-auto border-0">
          <img class="card-img-top rounded-top" style="height:175px;" src="https://images.pexels.com/photos/3226806/pexels-photo-3226806.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=311&w=250" alt="Mini Cooper">
          <div class="d-flex justify-content-around">
            <h5 class="card-title"><%= "#{car.make} - #{car.model}" %></h5>
          </div>
          <div class="card-body p-0">
            <div class="row">
              <div class="col">
                <ul class="m-0" style="padding:0;text-align-left">
                  <li class="card-text card-car-detail">£<%= car.price %> <i class="fas fa-calendar-day"></i></li>
                  <li class="card-text card-car-detail"><%= car.seats %> <i class="fas fa-chair"></i></li>
                  <li class="card-text card-car-detail"><%= car.postal_code%> <i class="fas fa-map-marker-alt"></i></li>
                </ul>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="rating">
                <input type="radio" name="rating" value="5" id="5">
                <label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label> <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label> <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label> <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
              </div>
            </div>
            <p class="card-text"><small class="text-muted">Listing created on <%=car.created_at%></small></p>
            <a href="/cars/<%=car.id%>" class="btn btn-primary">View More Details</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br>
<br>
<br>