<div class="container">
  <h1 class="text-center">Hi <%= current_user.first_name %>, here are your cars:</h1>
  <ul class="list-group">
    <% @cars.each do |car| %>
      <% last_updated = car.updated_at.strftime("%Y-%m-%d %H:%M:%S") %>
      <li class="list-group-item m-2 list-body-dark">
        <div class="row">
          <div class="col-sm-5 text-center">
          <% if car.photos.empty?%>
            <%= image_tag "CarPlaceholder.jpg", class: "car-show-image shadow", alt: "Car Placeholder Image"%>
          <% else %>
            <%= cl_image_tag car.photos[0].key, class: "car-show-image shadow", alt: "Car Image" %>
          <% end %>
          </div>
          <div class="col-sm-7">
            <div class="card-body">
              <h5 class="card-title"><%= "#{car.make} - #{car.model}" %></h5>
              <div class="card-text">
                <%= car.description %>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-evenly">
          <div class="col-12">
            <p class="list-updated text-muted">Last Updated: <%= last_updated %></p>
          </div>
          <div class="col-12">
            <div class="row justify-content-around align-content-center">
              <div class="list-button"><a href="/cars/<%=car.id%>"><i class="far fa-eye book-btn my-pages-action-btn"></i></a></div>
              <div class="list-button"><a href="/cars/<%=car.id%>/edit"><i class="far fa-edit edit-btn my-pages-action-btn"></i></a></div>
              <div class="list-button"><a href="/cars/<%=car.id%>" method="delete"><i class="far fa-trash-alt delete-btn my-pages-action-btn"></i></a></div>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <br>
  <% if @cars.empty? %>
    <h5>Seems like you don't have any cars for rent.</h5>
    <br>
    <h5>Would you like to create a new listing?</h5>
  <% end %>
  <br>
  <%= link_to 'List a new car for rent', new_car_path, class: 'btn btn-box' %>
</div>